# IDEs y herramientas de desarrollo
.idea/
.gradle/

# Archivos específicos de Gradle
gradle/gradle-daemon-jvm.properties

# Visual Studio
.vs/
**/.vs/

# Archivos compilados y temporales
bin/
obj/
**/bin/
**/obj/
*.user
*.suo
*.userosscache
*.log
