# Visual Studio
.vs/


# Compilación
**/bin/
**/obj/

# Archivos de usuario
*.user
*.suo

# Logs
*.log
*.user
*.suo

# Archivos de compilación
**/bin/
**/obj/
**/FROTEND/
# Logs
*.log
*.secrets.jso
*.docs

# Archivos temporales
*.tmp
*.appsettings.Production.json

# Configuración local
appsettings.Development.json

/FROTEND/
/app/
/build/
/gradle/
/build.gradle.kts
/gradle.properties
/gradlew
/gradlew.bat
/local.properties
/settings.gradle.kts


# Certificados locales de desarrollo (incluyen claves privadas).
.certs/
.artifacts/